/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
    height: 100%;
	font-family: 'Raleway', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #f7f7f7;
	overflow-x: hidden ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HEADER SECTION */
header{
	height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
	
}

#nav-logo {
	width: 180px;
	
}

nav ul {
    display: flex;
	list-style: none;
}

nav ul li {
	margin: 10px;
	padding: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #69523E;
	font-size: 16px;
	padding: 2px;
	border-bottom: 2px solid #CCCCCC;
	transition: 0.5s;
	font-weight: 500;
}

nav ul li a:hover {
	border-bottom: 2px solid #69523E;

}


#background-image {
	width: 100%;
	height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./fotos_site/home/background-image.png');
    background-position: center;
    background-size: cover;
}

#background-content p{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	color: #fff;
	margin-bottom: 20px;
}
 
#background-content p:nth-child(1) {
	font-size: 48px;
	font-family: 'Nothing You Could Do', cursive;
	margin-bottom: 15px;
	
}

#background-content p:nth-child(2) {
	font-family: 'Raleway', sans-serif;
	font-size: 64px;

}

#background-content p:nth-child(3){
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	margin-bottom: 40px;
}

#center-welcome {
	text-align: center;
	position: absolute;
    top: 35%;
    right: 60%;

}

#center-welcome a{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffff;
	padding: 30px;
	
	padding-right: 80px;
	padding-left: 80px;

	/*padding-bottom: 30px;*/
	/*padding-top: 05%;*/

}
#center-welcome a:link {
	background-color: #9AB64A;
	position: absolute;
	right: 40%;
}

#center-welcome a:hover {
	background-color: #A3C24F;

}

.procedure-menu {
	text-align: center;
	margin-top: 130px;
	/*text-decoration: underline #69523E;*/
	
}

.procedure-menu p:nth-child(1) {
	font-size: 38px;
	font-family: 'Nothing You Could Do', cursive;
	color: #9AB64A;
	
	
}

.procedure-menu p:nth-child(2) {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	margin-top: 20px;
	color: #69523E;
	border-bottom: 3px solid #69523E;
	display: inline-block;
}



.images {
	
	text-align: center;
	margin-top: 50px;


}

figure.foto-legenda {
	position: relative;
	/*border: 8px solid white;
	box-shadow: 1px 1px 4px #000;*/
	display: inline-block;
	margin: 50px;
	

}

figure.foto-legenda img {
	width: 500px;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	
}

figure.foto-legenda figcaption{
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 100%;
	height: 100%;
	padding: 65px;
	box-sizing: border-box;
	align-items: center;
	border-radius: 20px;
}

figure.foto-legenda figcaption a{
	position: relative;
	font-family:'Raleway', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: white;
	margin-top: 70px;
	text-align: center;
	top: 100px;
	width: 285px;
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	
}

.rodape-final {
	background-color: #69523E;
	padding: 30px;
	align-items: center;
	margin-top: 100px;
	color: #fff;
	width: 100%;
}
.rodape-final p {
	font-family:'Raleway', sans-serif;
	font-weight: 700;

}

/*Page Serviços*/

.background img{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
	

.servicos {
	text-align: left;
	
}

#tratamento-corporal img{
	width: 600px;
	margin: 90px;

}



	
